.navbar-custom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.navbar-custom .navbar-collapse {
  width: 57%;
  flex-grow: 0;
  order: 4;
}

.navbar-custom .navbar-brand {
  order: 1;
}

.navbar-custom .navbar-toggler {
  order: 3;
  border: 0;
  /* margin-left: 4px; */
}

.navbar-custom__link {
  color: rgba(255, 255, 255, 0.55);
  transition: color .15s ease-in-out;
}

.navbar-custom__link:hover {
  color: rgba(255, 255, 255, 0.75);
}

.login {
  display: flex;
  align-items: center;
  order: 2;
  margin-left: auto;
}

.login:hover img {
  opacity: 0.75;
}

.login img {
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.55;
  transition: opacity .15s ease-in-out;
}

.login span {
  margin-left: 0.5rem;
}

.app {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;

  overflow: hidden;

  background-image: radial-gradient(circle closest-side at center, rgb(106, 110, 162), rgb(2, 9, 35));
}

.box::before,
.box::after {
  position: absolute;
  content: '';

  width: inherit;
  height: inherit;

  border-radius: inherit;

  background: inherit;
}

.box:before {
  transform: rotate(60deg);
}

.box:after {
  transform: rotate(-60deg);
}


.hide {
  /* visibility: hidden; */
  opacity: 0;
}

.box:nth-of-type(3) {
  /* height: 34vmin;
  flex-basis: 33%; */
}

.box:first-of-type,
.box:last-of-type {
  /* height: 20vmin;
  flex-basis: 13.5%; */
}

@media (min-width: 768px) {
  .login {
    order: 4;
    margin-left: 0;
  }
}