@import '../node_modules/bootstrap/scss/functions';
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "./hexagons.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.navbar-custom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;

  & .nav-link {
    text-shadow: 1px 1px 0 black;
  }
  & .navbar-collapse {
    width: 57%;
    flex-grow: 0;
    order: 4;
  }
  & .navbar-brand {
    font-size: 1rem;
    order: 1;
  }
  & .navbar-toggler {
    order: 3;
    border: 0;
  }
}

.navbar-custom__link {
  color: rgba(255, 255, 255, 0.55);
  text-shadow: 1px 1px 0 black;

  transition: color .15s ease-in-out;

  &:hover {
    color: rgba(255, 255, 255, 0.75);
  }
}

@media (orientation: landscape) and (max-width: 767.98px) {
  .navbar-custom .navbar-collapse.show {
    margin: 0px 20%;

    background: rgba(0, 0, 0, 0.8);  
    border-radius: 5px;
  }
}

.login {
  display: flex;
  align-items: center;
  order: 2;
  margin-left: auto;
  &:hover img {
    opacity: 0.75;
  }
  & img {
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0.55;
    transition: opacity .15s ease-in-out;
  }
  & span {
    margin-left: 0.5vw;
  }
}

.hide {
  opacity: 0;
}

.app {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  overflow: hidden;

  background-image: radial-gradient(circle closest-side at center, rgb(106, 110, 162), rgb(2, 9, 35));
}

.diagonal-box {
  position: relative;

  width: 100%;
  transform: rotate(-30deg);

  z-index: 1;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: rotate(30deg);

  &::before {
    content: "";
    position: absolute;

    width: 45vw;
    height: 45vw;

    border-radius: 50%;
    border: 1px solid rgba(222, 226, 230, 0.5);
    pointer-events: none;
  }
  &::after {
    content: "";
    position: absolute;

    width: 72vw;
    height: 72vw;

    border-radius: 50%;
    border: 1px solid rgba(222, 226, 230, 0.5);
    pointer-events: none;
  }
}

.opponents {
  position: absolute;
  top: calc(50% - 16vw);
  left: 0;
  right: 0;

  height: 32vw;
  transform: rotate(30deg);

  font-size: 0.8rem;
  font-weight: bold;
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__first {
    width: 44%;
    height: 16vw;
    padding-left: 5%;
    padding-right: 10%;

    background: white;
    clip-path: polygon(0% 0%, 100% 0%, 90% 0%, 71% 100%, 0% 100%);
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
  }
  &__second {
    height: 16vw;
    width: 44%;
    margin-left: auto;
    padding-left: 4%;

    background: white;
    clip-path: polygon(29% 0%, 100% 0%, 100% 0%, 100% 100%, 10% 100%);
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }
}

@include media-breakpoint-up(sm) {
  .diagonal-box {
    max-width: 85%;
  }

  .opponents {
    top: calc(50% - 22vw / 2);
    height: 22vw;
    margin-top: 0;
    left: -12.5%;
    right: -12.5%;

    font-size: 1rem;
    &__first {
      height: 11vw;
      clip-path: polygon(0% 0%, 100% 0%, 97% 0%, 83% 100%, 0% 100%);
      & span {
        margin-left: auto;
      }
    }
    &__second {
      height: 11vw;
      clip-path: polygon(17% 0%, 100% 0%, 100% 0%, 100% 100%, 3% 100%);
      padding-left: 9%;
      & span {
        margin-right: auto;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .login {
    order: 4;
    margin-left: 0;
  }

  .navbar-custom {
    & .navbar-custom__link,
    & .nav-link {
      font-size: 1.8vw;
    }
  }

  .login img {
    width: 2.7vw;
    height: 2.7vw;
  }

  .opponents {
    font-size: 2.7vw;
  }
}